<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>

<header>
  <nav class="largeNav">
    <h2 routerLink=""><img src="assets/logo.svg" /></h2>
    <h2 routerLink="films">Films</h2>
    <h2 routerLink="peoples">Peoples</h2>
    <h2 routerLink="planets">Planets</h2>
    <h2 routerLink="species">Species</h2>
    <h2 routerLink="starships">Starships</h2>
    <h2 routerLink="vehicles">Vehicles</h2>
  </nav>
  <nav class="smallNav">
    <h2 (click)="toggleNavbar()"><img src="assets/logo.svg" /></h2>
    <h2 *ngIf="displaySmallNav" routerLink="films">Films</h2>
    <h2 *ngIf="displaySmallNav" routerLink="peoples">Peoples</h2>
    <h2 *ngIf="displaySmallNav" routerLink="planets">Planets</h2>
    <h2 *ngIf="displaySmallNav" routerLink="species">Species</h2>
    <h2 *ngIf="displaySmallNav" routerLink="starships">Starships</h2>
    <h2 *ngIf="displaySmallNav" routerLink="vehicles">Vehicles</h2>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <h2>Made with 💦 for fun</h2>
</footer>
