<app-loading *ngIf="loading"></app-loading>

<div class="films" *ngIf="!loading">
  <div
    *ngFor="let film of list"
    class="bloc spaced"
    routerLink="{{ getId(film.url) }}"
  >
    <h2>{{ film.title }} - Episode {{ film.episode_id }}</h2>
    <h4>Director : {{ film.director }}</h4>
    <h4>Producer : {{ film.producer }}</h4>
    <h4>Release date : {{ film.release_date }}</h4>
    <p>{{ film.opening_crawl }}</p>
  </div>

  <app-pagination
    (changePage)="callApi($event)"
    [pagination]="pagination"
  ></app-pagination>
</div>
