h1,
h2 {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bloc:not(:last-child) {
  border-bottom: 1px white solid;
}

.bloc.spaced {
  margin: 0px;
  padding: 20px;
}

.bloc:hover {
  background-color: #ffffff30;
}

.bloc p {
  margin: 0px;
  padding: 15px 5px;
}

.expand {
  width: 100%;
  height: 100%;
}

.relations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.relation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
}

@media screen and (max-width: 800px) {
  .relations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (min-width: 800px) {
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 50px;
  }

  .vertical-details {
    margin: 0px 50px;
  }
}
